@font-face{
    font-family: "SF Pro Display";
    src:url('../fonts/SFProDisplay-Medium.ttf') format("truetype");
    font-weight: 500;
}
@font-face{
    font-family: "SF Pro Display";
    src:url('../fonts/SFProDisplay-Regular.ttf') format("truetype");
    font-weight: 400;
}
@font-face{
    font-family: "SF Pro Display";
    src:url('../fonts/SFProDisplay-Semibold.ttf') format("truetype");
    font-weight: 600;
}
body{
    font-family: SF Pro Display;
    font-weight: 400;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.mini_hr{
    width: 998.72px;
    border: 1px solid #161616; 
}
.hr{
    border: 1px solid #161616;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* header */
.header_wrapper{
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}
.header_section_a{
    padding-right:21px;
    color: #161616;
}
.header_section_a2{
    color: #161616;
}
.header_section_a:hover{
    color: #a0a0a0;
}
.header_section_a2:hover{
    color: #a0a0a0;
}
.header_section{
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    text-transform: uppercase;
}
.header_motto{
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
    text-transform: uppercase;
}
.header_lang_unselect{
    margin-right: 7px;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #CACACA;
}
.header_lang_unselect:hover{
    color: #161616;
}
.header_lang_select{
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
}
.header_btns{
    display: flex;
}
.header_a{
    display: flex;
    align-items: center;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
    margin-right: 40px;
    text-transform: uppercase;
}
.header_a:hover{
    color: #a0a0a0;
}
.header_a2:hover{
    color: #a0a0a0;
}
.header_a2{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #161616;
    margin-right: 40px;
}
.header_icon{
    margin-right: 10px;
}
/* icons */
.icons_after_header{
    display: flex;
    justify-content: right;
    margin-right: 120px;
}
.icons{
    height: 65px;
    width: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.icon{
    margin-right: 17px;
}
/* main */
.main_texts{
    display: flex;
    margin-bottom: 50px;
}
.main_wrapper{
    margin-top: 86px;
}
.main_subtitle{
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #161616;
}
.main_name{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
    text-transform: uppercase;
    color: #161616;
}
.main_text{
    width: 382.89px;
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #161616;
    margin-left: 86px;
}
.main_photo{
    margin: 0 auto;
    display: block;
}
.main_text_after_photo{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #161616;
    margin-top: 50px;
    width: 398.72px;
}
.main_t{
    display: flex;
    justify-content: right;
    margin-right: 200px;
    margin-bottom: 50px;
}
/* info */
.info_wrapper{
    margin-top: 50px;
}
.info_using_title{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #161616;
    margin-bottom: 50px;
}
.info_using_arrow{
    margin-right: 20px;
}
.info_using_btns{
    display: flex;
}
.info_using_btn{
    display: flex;
    align-items: center;
    margin-right: 85px;
}
.info_using_btn_text{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #161616;
}
.info_coin_title{
    font-family: 'SF Pro Display';
    margin-top: 50px;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #161616;
}
.info_coin_subtitle{
    width: 397.37px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #161616;
}
.info_coin_btn{
    cursor: pointer;
    padding: 21px 137px;
    background: none;
    border: 1px solid #161616;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #161616;
}
.info_coin_btn:hover{
    box-shadow: 0 0 3px #161616;  
}
.info_coin{
    margin-bottom: 50px;
    display: flex; 
    justify-content: center; 
}
.info_catalog_content{
    display: flex;
}
.info_catalog{
    margin-top: 50px;
    margin-bottom: 50px;
}
.info_catalog_title{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
    text-transform: uppercase;
    color: #161616;
    margin-bottom: 50px;
}
.info_catalog_contennt_text{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #161616;
    margin-right: 31px;
}
.info_catalog_content{
    margin-bottom: 20px;
}
.info_catalog_btn{
    cursor: pointer;
    margin-top: 30px;
    padding: 21px 137px;
    background: none;
    border: 1px solid #161616;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #161616;
}
.info_catalog_btn:hover{
    box-shadow: 0 0 3px #161616;  
}
/* model */
.model{
    padding-top: 50px;
}
.model_title{
    margin: 40px 0;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    text-transform: uppercase;
    color: #161616;
}
.model_photos{
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
}
.model_photo{
    display: grid;
}
.model_mini_photo{
    margin-bottom: 10px;
}
/* photos */
.photos{
    margin-bottom: 100px;
}
.photos_wrapper{
    margin-bottom: 50px;
    display: flex;
}
.photos_content{
    margin-right: 200px;
}
.photos_text{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #161616;
    margin-top: 50px;
    margin-bottom: 50px;
}
.photos_btn{
    cursor: pointer;
    padding: 21px 70px;
    background: none;
    border: 1px solid #161616;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #161616;
}
.photos_btn:hover{
    box-shadow: 0 0 3px #161616;  
}
.photos_con_text{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #161616;
    margin-bottom: 112px;
}
.photos_photo{
    margin-bottom: 30px;
}
.photos_a{
    margin-right: 80px;
}
.photos_btns{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* idea */
.idea_title{
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
    text-transform: uppercase;
    color: #161616;
    margin-top: 100px;
    margin-bottom: 40px;
}
.idea_subtitle{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #161616;
    margin-bottom: 50px;
}
.idea_wrapper{
    display: flex; 
    justify-content: center;
    margin-bottom: 100px;
}
.idea_icon{
    margin-right: 40px;
}